html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
}

button {
  font-family: inherit;
  border: none;
  outline: none;
}

* {
  box-sizing: border-box;
}
